/* Custom styles.*/
.header { 
    //用于完全显示一整块背景
    // background: $head-bg; 
    background:url(https://s1.ax2x.com/2018/03/13/Eoiz6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*菜单字体颜色*/
.menu-item a {color:#c7c7c7;}
/*菜单悬停颜色*/
.menu .menu-item a:hover {
  background: #36363c;
}
//移动设备菜单显示扩展
.site-nav-on {
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
    clear: both;
    border-top-style: none;
    // border-top: 1px solid #ddd;
}

body {
    /*随机换图*/
    // background:url(https://source.unsplash.com/random/1600x900);
    background:url(https://s1.ax2x.com/2018/03/10/EHdHq.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: 50% 50%;

}

/*文章内容*/
.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #E6E6E6;
	opacity: 0.92;
    min-height: 500px;
}

/*阅读全文按钮部分*/
.post-button a:hover {
    border-bottom-color:#a96363;
}
/*阅读全文按钮悬停部分*/
.btn:hover {
    border-color: #222;
    color: #222;
    background: none;
}
/*文字以及下划线部分*/
.post-button a {
    padding: 0;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #666;
    transition-property: border;
}


/*标签悬停颜色*/
.posts-expand .post-tags a:hover {
    background: orange;
}
/*标签背景色*/
.posts-expand .post-tags a {
    padding: 1px 5px;
    background: #d6af66;
    color: #ea1616;
    font-size: 13px;
    border-bottom: none;
    display: inline-block;
    margin-right: 10px;
}

/*页脚*/
.footer {
  font-size: 14px;
  color: $grey-dark;
  background: #2E2E2E;
  img { border: none; }
}

/*侧边信息栏*/
/* .sidebar-toggle {}*/
/*侧边回滚顶部栏*/
/* .back-to-top {}*/

/*时间侧边栏格式*/
#days {
    display: block;
    color: #8989A3;
    font-size: 13px;
    margin-top: 15px;
}